:root {
  --bg: #edf0fd;
  --sub: #393e46;
  --txt: #383e56;
  --card: #22012f;
  --darGray: #393e46;
  --blue: #32e0c4;
  --dBlue: #00005c;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 30px 60px;
  background: var(--bg);
}

.card {
  /* display: flex; */
  align-content: center;
  /* border: 1px solid grey; */
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  background: #000c0c;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  transition: 0.25s ease-in;
}

.card:hover {
  background: #323232;
  box-shadow: 2px 3.5px 6px rgba(0, 0, 0, 0.4);
}

.card p {
  padding: 6px;
  text-align: center;
}

.card img {
  max-height: 200px;
  height: 200px;
  width: 100%;
  object-fit: revert;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  grid-auto-flow: row;
}

.loading {
  text-transform: uppercase;
  color: var(--sub);
}

.app-title {
  font-size: 3rem;
  color: var(--txt);
  letter-spacing: 2px;
}

.inp {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: var(--txt);
  background: #dcd6f7;
  height: 60px;
  border-radius: 10px;
  padding-left: 20px;
}

hr {
  color: #aacfcf;
  background: var(--darGray);
  width: 100%;
  height: 1px;
  border: none;
  margin-bottom: 30px;
}

.some {
  color: #ecfbfc;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.textCat {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 4rem;
  color: #e1f2fb;
  background: #21243d;
  display: inline-block;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  line-height: 50px;
  text-align: center;
}

.divTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divSub {
  height: 40px;
  background: #d3dbff;
  border-radius: 10px;
  align-content: center;
  padding: 5px;
}

.app-sub {
  text-transform: capitalize;
  font-size: 0.6rem;
  color: #1b262c;
  font-weight: bold;
}

.searchTxt {
  letter-spacing: 2px;
  color: var(--darGray);
  font-weight: bold;
  font-size: 1rem;
}

@media screen and (max-width: 450px) {
  .app-title {
    font-size: 1.6rem;
  }

  .app-sub {
    font-size: 0.6rem;
  }

  .inp {
    width: 100%;
    padding: 0;
  }

  .card {
    margin: 0;
  }

  body {
    padding: 35px 10px;
    margin: 0;
  }

  ol {
    padding: 0;
  }
}
